<h2> Welcome <%= @user.name %> </h2>

<img src="<%= @user.picture %>" height="200" />
</br></br>
<ul>
  <li>Name: <%= @user.name %></li>
  <li>Email: <%= @user.email %></li>
  <li>Gender: <%= @user.gender %></li>
  <li>Birth Date: <%= Time.at(@user.dob).month %>/<%= Time.at(@user.dob).day %>/<%= Time.at(@user.dob).year %></li>
  <li>Phone: <%= @user.phone %></li>
  <li>Address: <%= @user.location %></li>
</ul>

